.media{
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Poppins' , sans-serif;
    background-color: #282c34;
    position: relative;
    margin: 5px 0;
}

.media:hover {
    background-color: #fff;
    color: black;
}

.title{
    margin: 5px;
    font-size: 16px;
    font-weight: normal;
}




.subTitle{
    margin: 7px 0 0 0;
}



.fav-button{
  cursor: pointer;
  background-color: red;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  text-align: center;
}

div.badge{
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
    font-weight: 700;
    background-color: #3f51b5;
    color: rgb(251, 255, 11);
    border-radius: 20px;
    text-align: center;
}

.poster{
  width: 250px;
border-radius: 10px;
}

.poster:hover{
 
}


.singlecontent-container{
  border: 1px solid black;
  border-radius: 10px;
}

.singlecontent-container:hover{
  border: 1px solid white;
} 












@media screen and (max-width: 550px) {

    .media{
        width: 100%;
    }

    .poster{
        border-radius: 10px;
    }

    .title{
        width: 100%;
        text-align: center;
        font-size: 17px;
        padding: 8px 0;
    }

    .subTitle{
        display: flex;
        justify-content: space-between;
        padding: 0 2px 3px 2px;
    }
    
}