.footer-container{
    background-color: #23404A;
    /* border-top: 5px solid red; */
    box-shadow: 0 1px 5px black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    color: #fff;
    font-family: 'Poppins' , sans-serif;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 65px;
    justify-content: center;

}

.nav-links Link{
    text-decoration: none;
    color: #fff;
}   

button.logout-button{
    border: none;
    font-size: 16px;
    font-family: 'Poppins' , sans-serif;
    cursor: pointer;
}

.font-icon{
    font-size: 18px;
    margin-top: 10px;
}